* {
  color: aliceblue;
}

.Temperature-box {
  background-color: blue;
  margin-right: 1000px;
}

.Temperature-city {
  margin: 0px;
  font-size: 30px;
}

.Temperature-temp {
  float: right;
  margin: 0px;
  text-align: right;
}

.Temperature-hours {
  background-color: black;
  padding-left: 60px;
  margin-left: 250px;
  margin-right: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(0px, auto);
}

.icons {
  width: 35px;
  height: 35px;
}